@use '../constants.scss' as c;

#list-container {
	position: inherit !important;
	width: calc(100% - c.$menu-width) !important;
	min-height: 100vh !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	display: flex;
	order: 2;
	background-color: transparent !important;
}

.list-block {
	margin: 10px !important;
	width: calc(100% - 20px) !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	background-color: c.$bg-color2 !important;
	border-radius: c.$border-radius !important;
	padding: 0px 5px !important;

	*:not(.status) {
		background-color: transparent !important;
	}
}

.list-unit {
	width: 100% !important;
	flex-grow: 0;
	flex-shrink: 0;
}

.list-status-title,
.list-stats {
	position: relative;
	left: 0px;
	right: 0px;
	text-align: center !important;
	width: 100% !important;

	span {
		font-size: 20px !important;
	}

	.text {
		width: 100% !important;
	}
}

.header-title.status {
	background-color: transparent !important;
}

.status {
	width: 5px !important;
	border-radius: c.$border-radius !important;
}

tr {
	position: relative !important;
}

.number {
	width: 50px !important;
}

.image {
	width: calc(c.$image-width + 20px) !important;
	min-width: calc(48px + 20px) !important;
	min-height: 68px !important;
}

.title {
	width: 80% !important;
}

.score {
	max-width: 50px !important;
}

.type {
	max-width: 50px !important;
}

.progress {
	max-width: 100px !important;
}

.tags {
	width: 20% !important;
}

.list-stats {
	font-size: 16px !important;
}

.list-stats span {
	height: 100% !important;
	font-size: 16px !important;
}